ion-card-title {
    font-size: 20px;
}

ion-card-title,
ion-card-subtitle {
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 100%;
}

.tag-container {
    text-align: center;
    display: inline;
}

.image-container {
    height: 20rem;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.image-container ion-img {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
}