<div class="component-container">
  <ion-infinite-scroll direction="x" #scrollContainer class="scroll-container">
    <app-show-card *ngFor="let show of showData" [showData]="show"></app-show-card>
    <p *ngIf="showData.length === 0" class="no-results">{{ 'COMMON.NO_RESULTS' | translate }}</p>
  </ion-infinite-scroll>
  <button *ngIf="showData.length > 0" class="scroll-button left" (mousedown)="startScrollingLeft()"
    (mouseup)="stopScrolling()" (mouseleave)="stopScrolling()">&#8678;</button>
  <button *ngIf="showData.length > 0" class="scroll-button right" (mousedown)="startScrollingRight()"
    (mouseup)="stopScrolling()" (mouseleave)="stopScrolling()">&#8680;</button>
</div>