:root {
  /* Colors */
  --color-light-green: #f0f9f8;
  --color-medium-green: #3c948b;
  --color-dark-green: #1f4b47;
  --color-medium-gray: #575757;
  --color-dark-gray: #242424;

  /* Gradients */
  --gradient-gray: linear-gradient(
    90deg,
    var(--color-dark-gray) 0%,
    var(--color-dark-gray) 100%
  );
}
