<div class="container">
  <button class="go-home-btn" (click)="goHome()">{{ 'COMMON.GOTO_HOME_BTN' | translate}}</button>

  <ion-card *ngIf="showData">
    <ion-img [src]="showData.image.original"></ion-img>

    <div class="card-details">
      <ion-card-header>
        <ion-card-subtitle>{{ showData.type }} - {{ showData.language }}</ion-card-subtitle>
        <ion-card-title>{{ showData.name }}</ion-card-title>
      </ion-card-header>

      <ion-card-content>
        <div class="genres">
          <ion-chip *ngFor="let genre of showData.genres">
            {{ genre }}
          </ion-chip>
        </div>

        <p>{{ 'SHEET.STATUS' | translate }} {{ showData.status }}</p>
        <p>{{ 'SHEET.AVERAGE_RUNTIME' | translate }} {{ showData.averageRuntime }} {{ 'SHEET.MINUTES' | translate }}</p>
        <p>{{ 'SHEET.PREMIERED' | translate }} {{ showData.premiered }} - {{ 'SHEET.ENDED' | translate }} {{
          showData.ended }}</p>
        <p>{{ 'SHEET.RATING' | translate }} {{ showData.rating.average }}</p>
        <p>{{ 'SHEET.SHEDULE' | translate }} {{ showData.schedule.days.join(', ') }} {{ 'SHEET.AT' | translate }} {{
          showData.schedule.time }}</p>
        <p><a [href]="showData.officialSite" target="_blank">{{ 'SHEET.OFICIAL_SITE' | translate }}</a></p>

        <div [innerHTML]="showData.summary"></div>
      </ion-card-content>
    </div>
  </ion-card>

</div>