ion-infinite-scroll {
  display: flex;
  flex-direction: row;
  overflow-x: auto;
}

app-show-card {
  max-width: 20rem;
  flex: 0 0 auto;
}

@media (min-width: 768px) {
  ion-infinite-scroll {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }

  ion-infinite-scroll::-webkit-scrollbar {
    display: none;
  }
}

.scroll-button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: #f0f0f0;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
}

.scroll-button.left {
  left: 10px;
}

.scroll-button.right {
  right: 10px;
}

.scroll-container {
  overflow-x: auto;
  white-space: nowrap;
  display: flex;
  overflow-x: auto;
}