.horizontal-scroll {
    display: flex;
    overflow-x: auto;
    white-space: nowrap;
    padding: 10px;
  
    &::-webkit-scrollbar {
      display: none;
    }
  }
  
  .show-card {
    flex: 0 0 auto;
    margin-right: 10px;
  }