ion-infinite-scroll {
  display: flex;
  flex-direction: row;
  overflow-x: auto;
}

app-show-card {
  max-width: 20rem;
  flex: 0 0 auto;
}

@media (min-width: 768px) {

  /* Ajusta esto según el breakpoint de tu diseño */
  ion-infinite-scroll {
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
  }

  ion-infinite-scroll::-webkit-scrollbar {
    display: none;
    /* Chrome, Safari, Opera*/
  }
}